footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  margin-top: 0px;
  padding-top: 100px;
  background-image: linear-gradient(to top, #745CCB 10%, #1b1827 10%);
  /* background-image: radial-gradient(#745CCB, #1b1827); */
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 10;
}

.copyright{
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  opacity: 0.5;
  align-self: center;
  margin: 20px;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 70%;
  font-weight: 600;
}

.contact-info {
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  /* width: 350px; */
  /* height: 350px; */
  padding: 35px;
  font-size: 30px;
  padding: 35px;
  border-top: 1px solid #745CCB;
  border-bottom: 1px solid #745CCB;
}

.illustration-wrapper {
  width: 230px;
  height: 230px;
  padding: 0;
  border-radius: 100%;
  transform: translate(0px, 80px);
  /* background-color: rgba(241,161,42,1); */
  background-image: radial-gradient(rgba(241,161,42,1) 40%, #745CCB 90%);
  /* border: 1px solid #745CCB; */
  box-shadow: none;
}

.illustration {
  height: 400px;
  width: auto;
  z-index: 2;
  transform: translate(-50px, -70px)
}

.foot {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
  font-size: 28px;
  transition: all 0.5s;
  margin-top: 10px;
}

.foot:hover {
  text-decoration: none;
  color: white;
  transform: translateX(30px)
}

.foot:hover img {
  opacity: 1;

}

@media (max-width:1030px) {
  footer {
    padding-top: 10px;
  }

  .contact-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .contact-info {
    width: 80%;
    border-radius: 2%;
    align-items: center;

    /* margin: 20px 10px 10px 10px; */
  }

  .contact-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 540px;
  }
  .contact-info {
    position: absolute;
    height: auto;
    margin: 115px 5px 5px 5px;
    font-size: 20px;
    padding: 5px;
    bottom: 180px;
  }

  .illustration-wrapper {
    width: 230px;
    height: 230px;
    padding: 0;
    transform: translate(0px, 80px);
    background-color: rgba(241,161,42,1);
    box-shadow: none;
  }

  .illustration {
    height: 300px;
    width: auto;
    z-index: 2;
    transform: translate(-20px, -20px)
  }
}

@media (max-width: 570px) {
  footer {
    padding-top: 10px;
    height: 900px;
  }

  .contact-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 540px;
  }
  .contact-info {
    position: absolute;
    height: auto;
    margin: 115px 5px 5px 5px;
    font-size: 20px;
    padding: 5px;
    bottom: 100px;
    width: 90%;
  }

  .illustration-wrapper {
    width: 200px;
    height: 200px;
    padding: 0;
    transform: translate(0px, 80px);
    background-color: rgba(241,161,42,1);
    box-shadow: none;
  }

  .illustration {
    height: 250px;
    width: auto;
    z-index: 2;
    transform: translate(-20px, -20px)
  }

  .mail-link {
    font-size: 16px;
  }

  .foot {
    font-size: 16px;
    width: auto;
    transform: none;
  }
}

@media (max-height: 670px) {
  /*todo: when screen is not high enough */

}
